.background-achivement{
	background-color: #bdbebd;
}
.wrapper-achivement{
	max-width: 1354px;
	margin: auto;
	padding: 82px 15px 109px 15px;
	color: #fff;
	text-align: center;
}
.achivement-header{
	font-family: 'roboto_slabbold';
	font-size: 36px;
	line-height: 90px;
	text-transform: uppercase;
	letter-spacing: 1px;
	letter-spacing: 1px;
}
.achivement-description{
	font-size: 16px;
	font-family: 'open_sansregular';
	letter-spacing: 0.44px;
}
.achivements-grid{
	font-size: 0;
	margin-top: 58px;
}
.achivement{
	width: 258px;
	display: inline-block;
}
.achivement:last-child{
	margin-right: 34px;
}
[class^="achivement-img"]{
	background-image: url(../images/achivement/achivements.png);
	height: 80px;
	margin: auto;
	margin-bottom: 18px;
}
.achivement-img1{
	background-position: 0 0px; 
	width: 66px;
}
.achivement-img2{
	background-position:-66px 0; 
	width: 77px;
}
.achivement-img3{
	background-position:-142px 0; 
	width: 61px;
}
.achivement-img4{
	background-position:-203px 0; 
	width: 42px;
}
.achivement-img5{
	background-position:-245px 0; 
	width: 88px;
}
.achivement-number{
	font-size: 37px;
	font-family: 'roboto_slabregular';
	letter-spacing: 1px;
}
.achivement-number::after{
	content: "";
	height: 1px;
	width: 82px;
	background-color: #fff;
	display: block;
	margin: 17px auto 14px;
}
.achivement-title{
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'roboto_slabregular';
	letter-spacing: 0.5px;
}
@media screen and (max-width: 1355px) {
	.achivement{
		width: 20%;
	}
	.achivement:last-child{
		margin-right: 0;
	}
}	
@media screen and (max-width: 930px) {
	.achivement{
		width: 33.3333%;
		margin-top: 40px;
	}
	.achivement:last-child{
		margin-right: 0;
	}
	.achivements-grid{
		font-size: 0;
		margin-top: 0;
	}
}	
@media screen and (max-width: 730px) {
	.achivement-header{
		font-size: 33px;
	}
	.achivement-number {
	    font-size: 32px;
	}
}	
@media screen and (max-width: 640px) {
	.achivement{
		width: 50%;
		margin-top: 40px;
	}
}	
@media screen and (max-width: 450px) {
	.achivement-header{
		font-size: 25px;
	}
	.achivement-number {
	    font-size: 25px;
	}
	.achivement-title {
	    font-size: 16px;
	}
	.wrapper-achivement {
	    padding: 30px 15px 70px 15px;
	}
}
@media screen and (max-width: 350px) {
	.achivement{
		width: 100%;
	}
}		