#wrapper-carousel {
    margin-bottom: 30px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.carousel {
    background-size: cover;
    background-position: 0 0;
    position: relative;
}
.carousel:before{
	content: '';
	display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
  
}
.carousel-title{
	text-align: center;
	margin: 160px 0;
	color: #fff;
	text-transform: uppercase;
	z-index: 2;
    position: relative;
}
.carousel-paragraph-top{
	line-height: 72px;
	font-size: 45px;
	font-family: 'latoregular',serif;
}
.carousel-header{
	font-family: 'latobold', serif;
	font-size: 72px;
	line-height: 90px;
	letter-spacing: 0.025em;
}
.carousel-paragraph-bottom{
	font-family: 'latoregular',serif;
	line-height: 46px;
	font-size: 20px;
	letter-spacing: 0.025em;
	margin-bottom: 54px;
}
.btn-carousel{
	font-family: 'lato';
    font-size: 14px;
    padding: 21px 49px 21px 47px;
    background-color: #101010;
    color: #fff;
    letter-spacing: 0.025em;
    font-weight: bold;
    border-radius: 2px;
}
.btn-carousel:hover{
	background-color: #43a906;
}



#wrapper-carousel .slick-dots {
    bottom: 25px;
}
#wrapper-carousel .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}
#wrapper-carousel .slick-dots li button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10px; 
    width: 10px;
}
#wrapper-carousel .slick-dots li{
	margin: 0;
}
#wrapper-carousel .slick-dots li button {
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    display: block;
    background: transparent;
}


@media screen and (max-width: 1200px){
	.carousel-header {
	    font-size: 60px;
	}
	.carousel-paragraph-top {
	    font-size: 35px;
	}
}
@media screen and (max-width: 1000px){
	.carousel-header {
	    font-size: 50px;
	}
	.carousel-paragraph-top {
	    font-size: 35px;
	}
}
@media screen and (max-width: 770px){
	.carousel-header {
	    font-size: 40px;
	}
	.carousel-paragraph-top {
	    font-size: 25px;
	}
	.carousel-paragraph-bottom {
	    font-size: 18px;
	}
	.carousel-title {
	    margin: 180px 0;
	}
}
@media screen and (max-width: 640px){
	.carousel-header {
	    font-size: 28px;
	}
	.carousel-paragraph-top {
	    font-size: 23px;
	}
	.carousel-paragraph-bottom {
	    font-size: 16px;
	}
	.carousel-title {
	    margin: 150px 0;
	}
	.btn-carousel {
	    font-size: 12px;
	    padding: 15px 28px;
	}
	.carousel-title {
	    padding-left: 10px;
	    padding-right: 10px;
	}
}
@media screen and (max-width: 550px){
	.carousel-header {
		line-height: 60px;
	}
	.carousel-paragraph-top {
	    line-height: 46px;
	}
	.carousel-paragraph-bottom {
	    font-size: 15px;
	}
	.carousel-title {
	    margin: 175px 0;
	}
}
@media screen and (max-width: 440px){
	.carousel-header {
		line-height: 36px;
		margin: 30px 0;
	}
	.carousel-paragraph-top {
	    line-height: 0;
	}
	.carousel-paragraph-bottom {
	    line-height: 25px;
	    font-size: 14px;
	}
	 .carousel-title {
	    margin: 150px 0;
	} 
	
}
@media screen and (max-width: 330px){
	.carousel-header {
	    font-size: 21px;
	}
	.carousel-paragraph-top {
	    font-size: 20px;
	}
	.carousel-paragraph-bottom {
	    font-size: 14px;
	}
}

