/*CAROUSEL*/
#wrapper-carousel {
    margin-bottom: 30px;
    max-width: 1340px;
    margin: 0 auto;
}
.carousel {
    position: relative;
    background-size: cover;
    background-position: 50% 0;
}
#wrapper-carousel button::before {
    width: 11px;
    height: 11px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    content: '';
    opacity: 1;
    color: black;
    background-color: #b2b2b2;
    margin-top: -41px;
}

#wrapper-carousel .slick-active button::before {
    background-color: #000;
}

#wrapper-carousel .slick-dots li {
    margin: 0 4px;
}

.wrapper-sale {
    position: relative;
    width: 272px;
    border: 2px solid white;
    margin: 139px auto 0;
    padding: 6px;
}

.sale {
    width: 100%;
    border: 1px solid white;
    text-transform: uppercase;
    text-align: center;
    padding: 26px;
}

.wrapper-sale::after {
    content: '';
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.mid-season {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
}

h1 {
    font-size: 59px;
    margin: 31px 0 25px 0;
}

.text {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}

.procent {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 14px;
}

.sale .border-left-season::after {
    content: '';
    height: 1px;
    width: 33px;
    background-color: #fff;
    display: block;
    position: relative;
    top: 9px;
    left: 27px;
}
.sale .border-left-season::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: #fff;
    display: block;
    position: relative;
    top: 15px;
}
.border-right-season::after {
    content: '';
    height: 1px;
    width: 33px;
    background-color: #fff;
    display: block;
    position: relative;
    top: -14px;
    left: 139px;
}
.border-right-season:before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: #fff;
    display: block;
    position: relative;
    top: -8px;
    left: 139px;
}

.button-carousel {
    margin-top: 53px;
    margin-bottom: 163px;
    text-align: center;
    /*padding: 16px 0;*/
}



.button-carousel-shop {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #f09d66;
    padding: 12px;
}

@media screen and (max-width: 768px) {
    .button-carousel {
        margin-bottom: 60px;
        margin-top: 20px;
    }
    .wrapper-sale {
        margin-top: 50px;
    }
}

