@import "normalize.css";
@import "carousel.css";
@import "breadcrumbs.css";
@import "masonry.css";
@import "gallery.css";
@import "brand.css";
@import "customers.css";
@import "footer-top.css";
@import "footer-bottom.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:active,
a:hover,
a:focus {
    outline-width: 0;
}
ul {
    list-style: none;
    display: inline-block;
}


/*HEADER_TOP*/
.mobile-menu {
    display: none;
    clear: both;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
.nav-header-mobile {
    width: 100%;
    padding-left: 12px;
    border-top: 1px solid white;
    color: #393939;
    ;
    font-family: 'Lato', sans-serif;
}
.nav-header-mobile li {
    padding: 8px 0;
}
.burger {
    float: right;
    width: 40px;
    height: 30px;
    background-color: #fff;
    display: none;
    position: relative;
    top: 2.5px;
}
.serif {
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #000;
    left: 10%;
    transition: transform .3s ease-in-out;
}
.serif--1 {
    top: 8px;
}
.serif--2 {
    top: 15px;
}
.serif--3 {
    top: 22px;
}
.burger.active [class^="serif"] {
    background-color: grey;
}
.wrapper-header-top {
    color: #393939;
    background-color: #f2f2f2;
    min-height: 37px;
    font-family: 'Lato', sans-serif;
}
.header-top,
.header-bottom {
    max-width: 1320px;
    margin: 0 auto;
}
.telephone {
    float: left;
    padding: 12px 10px;
}
.telephone::before {
    content: '';
    display: inline-block;
    background: url('../images/sprite.png') no-repeat -86px -35px;
    width: 10px;
    height: 10px;
    margin-right: 18px;
}
.main-menu {
    float: right;
    text-transform: uppercase;
    padding: 12px 10px
}
.nav-header-main li {
    display: inline-block;
}
.nav-header-main li:nth-child(1),
.nav-header-main li:nth-child(2),
.nav-header-main li:nth-child(3) {
    margin-right: 58px;
}
.nav-header-main li:nth-child(1)::after,
.nav-header-main li:nth-child(2)::after,
.nav-header-main li:nth-child(3):after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #393939;
    position: relative;
    left: 29px;
    vertical-align: bottom;
}


/*HEADER-BOTTOM*/
.header-bottom {
    min-height: 128px;
    padding: 0 10px;
    position: relative;
}
.header-bottom::after {
    content: "";
    display: block;
    clear: both;
}
.nav-menu,
.wrapper-logo,
.social-and-rupian {
    float: left;
}
.nav-menu,
.social-and-rupian {
    width: 36%;
    padding: 42px 0;
    float: left;
}
.nav-menu {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 18px;
    float: left;
}
.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}
.nav-menu li a:hover {
    border-bottom: 2px solid #d9bf8f;
}
.nav-menu li:nth-child(4) {
    margin-right: 0;
}
.wrapper-logo {
    width: 28%;
    font-family: 'krinkes_decor_personal_useRg';
    text-align: center;
    color: #000;
    font-weight: 100;
}
.logo span {
    font-size: 72px;
    padding-top: 31px;
    display: block;
}
.header-bottom .social {
    float: right;
    margin-top: 3px;
    padding-right: 45px;
}
.social-and-rupian [class^="social-link"] {
    border-radius: 50%;
    height: 33px;
    width: 33px;
    border: 2px solid #d9bf8f;
    margin-right: 11px;
    background-image: url(../images/sprite.png);
    display: inline-block;
    background-repeat: no-repeat;
}
.social-and-rupian [class^="social-link"]:last-child {
    margin-right: 0;
}
.social-link-fb {
    background-position: 4px 5px;
}
.social-link-tw {
    background-position: -20px 4px;
}
.social-link-pi {
    background-position: -48px 3px;
}
.social-link-inst {
    background-position: -75px 4px;
}
#rupian {
    float: right;
    background-color: #000;
    text-align: center;
    padding: 12px 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: none;
    outline: none;
}

.header-bottom::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -59px;
    display: block;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 60px solid #fff;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}


/*HEADING*/
.heading {
    text-align: center;
    position: relative;
    max-width: 1295px;
    margin: auto;
}
.span-border-left {
    position: absolute;
    display: block;
    width: 359px;
    height: 1px;
    top: 16px;
    background-color: #eaeaea;
}
.span-border-right {
    position: absolute;
    display: block;
    width: 359px;
    height: 1px;
    top: 16px;
    background-color: #eaeaea;
    right: 0;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 29.58px;
}
.heading::after {
    content: '';
    width: 11px;
    height: 11px;
    transform: rotate(-45deg);
    color: black;
    background-color: #d9bf8f;
    margin-top: -23px;
    display: inline-block;
    position: absolute;
    margin-left: -160px;
}
.heading::before {
    content: '';
    width: 11px;
    height: 11px;
    transform: rotate(-45deg);
    color: black;
    background-color: #d9bf8f;
    margin-top: 12px;
    display: inline-block;
    position: absolute;
    margin-left: 148px;
}
@media screen and (max-width: 1305px) {

    .span-border-left {
        display: none;
    }
    .span-border-right {
        display: none;
    }
}
@media screen and (max-width: 1130px) {
    .header-bottom::before {
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
    }
    .header-bottom .nav-menu,
    .header-bottom .social-and-rupian {
        /*width: 30%;*/
        padding: 30px 0;
    }
    .header-bottom .social-and-rupian {
        float: right;
    }
    .header-bottom .logo span {
        padding-top: 25px;
        font-size: 65px;
    }
}
@media screen and (max-width: 1080px) {
    .header-bottom .nav-menu li {
        width: 30%;
    }
    .header-bottom .nav-menu li a:hover {
        border: none;
        color: #d9bf8f;
    }
    .header-bottom .wrapper-logo {
        width: 36%;
    }
    .header-bottom .nav-menu,
    .header-bottom .social-and-rupian {
        width: 32%;
    }
    .header-bottom .social {
        padding-right: 15px;
    }
}
@media screen and (max-width: 900px) {
    .header-bottom {
        min-height: 100px;
    }
    .header-bottom::before {
        border-left: 140px solid transparent;
        border-right: 140px solid transparent;
    }
    .header-bottom .nav-menu {
        font-size: 16px;
    }
    .header-bottom .wrapper-logo {
        width: 26%;
    }
    .header-bottom .nav-menu,
    .header-bottom .social-and-rupian {
        width: 37%;
    }
    .header-bottom .social-and-rupian {
        padding: 19px 0;
    }
    .header-bottom .social {
        clear: both;
        padding-right: 0;
    }
    .social-link-fb {
        background-position: 0px 2px;
    }
    .social-link-tw {
        background-position: -25px 1px;
    }
    .social-link-pi {
        background-position: -51px 0px;
    }
    .social-link-inst {
        background-position: -78px 0px;
    }
    .social-and-rupian [class^="social-link"] {
        height: 25px;
        width: 25px;
    }
    .header-bottom .logo span {
        font-size: 55px;
        padding-top: 30px;
    }
    #rupian {
        padding: 6px 8px;
        margin-bottom: 6px;
    }
}
@media all and (max-width: 800px) {
    h2 {
        font-size: 27px;
    }
    .heading::before {
        margin-left: 120px;
        margin-top: 8px;
    }
    .heading::after {
        margin-left: -136px;
        margin-top: -19px;
    }
    .header-bottom::before{
        bottom: -39px;
        border-top: 40px solid #fff;
    }
}
@media all and (max-width: 650px) {
    .main-menu {
        font-size: 10px;
    }
    .nav-header-main li:nth-child(1),
    .nav-header-main li:nth-child(2),
    .nav-header-main li:nth-child(3) {
        margin-right: 36px;
    }
    .nav-header-main li:nth-child(1)::after,
    .nav-header-main li:nth-child(2)::after,
    .nav-header-main li:nth-child(3):after {
        left: 18px;
    }
}
@media all and (max-width: 600px) {}

@media all and (max-width: 550px) {
    .header-bottom .logo span {
        font-size: 45px;
        padding-top: 33px;
    }
    .burger {
        display: block;
    }
    .main-menu {
        display: none;
    }
    .header-top .telephone::before {
        margin-right: 7px;
    }
    .header-bottom::before {
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
    }
    .header-bottom .wrapper-logo {
        width: 34%;
    }
    .header-bottom .nav-menu,
    .header-bottom .social-and-rupian {
        width: 33%;
    }
    .header-bottom .nav-menu li {
        width: 50%;
    }
    .header-bottom .nav-menu {
        padding: 20px 0;
    }
    .header-bottom .social-and-rupian {
        padding: 26px 0;
    }
    .social-and-rupian [class^="social-link"] {
        margin-right: 3px;
    }
    .title-masonry {
        width: 1px;
        height: 40px;
        margin-left: -1px;
        margin-top: -41px;
    }
    .title-masonry::after {
        height: 1px;
        width: 40px;
        margin-left: -20px;
    }
}

@media all and (max-width: 460px) {
    .header-bottom::before {
        border-left: 120px solid transparent;
        border-right: 120px solid transparent;
    }
    .header-bottom .nav-menu {
        padding: 15px 0;
        font-size: 14px;
    }
    .header-bottom .wrapper-logo {
        width: 40%;
        font-size: 16px;
    }
    .header-bottom .nav-menu,
    .header-bottom .social-and-rupian {
        width: 30%;
    }
    .header-bottom .social-and-rupian {
        padding: 18px 0;
    }
    .header-bottom .logo span {
        font-size: 26px;
        padding-top: 26px;
    }
    #rupian {
        padding: 5px 7px;
    }
    .social-and-rupian [class^="social-link"] {
        margin-right: 1px;
        height: 23px;
        width: 23px;
    }
    .social-link-fb {
        background-position: -1px 1px;
    }
    .social-link-tw {
        background-position: -25px 0px;
    }
    .social-link-pi {
        background-position: -52px -1px;
    }
    .social-link-inst {
        background-position: -79px -1px;
    }
    h2 {
        font-size: 23px;
    }
    .heading::before {
        margin-top: 7px;
    }
    .heading::after {
        margin-top: -17px;
    }
}

@media all and (max-width: 320px) {

}
