/*BRAND*/
.wrapper-brand{
    max-width: 1295px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 97px;
    padding-left: 5px;
    padding-right: 5px;
}
.brand-list {
    display: block;
    font-size: 0;
}
.brand-list-item {
    display: inline-block;
    text-align: center;
    width: 16.6666%;
}
.brand-list-item:hover{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07),
                0 0 20px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 996px) {
    .brand-list-item {
        width: 33.33333%;
    }
}
@media screen and (max-width: 640px) {
    .brand-list-item {
        width: 50%;
    }
}
@media screen and (max-width: 375px) {
    .brand-list-item {
        width: 100%;
    }
    .brand-image {
        width: auto;
        height: auto;
        display: inline-block;
        }
}
